{% if settings.social_facebook_link != blank %}
  <li class="d-flex align-items-center">
    <a class="d-flex px-2 text-decoration-none" href="{{ settings.social_facebook_link }}">
      {% render 'icon-facebook' %}
    </a>
  </li>

{% endif %}
{% if settings.social_instagram_link != blank %}
  <li class="d-flex align-items-center">
    <a class="d-flex px-2 text-decoration-none" href="{{ settings.social_instagram_link }}">
      {% render 'icon-instagram' %}
    </a>
  </li>
{% endif %}
{% if settings.social_snapchat_link != blank %}
  <li class="d-flex align-items-center">
    <a class="d-flex px-2 text-decoration-none" href="{{ settings.social_snapchat_link }}">
      {% render 'icon-snapchat' %}
    </a>
  </li>
{% endif %}
{% if settings.social_twitter_link != blank %}
  <li class="d-flex align-items-center">
    <a class="d-flex px-2 text-decoration-none" href="{{ settings.social_twitter_link }}">
      {% render 'icon-twitter' %}
    </a>
  </li>
{% endif %}
{% if settings.social_youtube_link != blank %}
  <li class="d-flex align-items-center">
    <a class="d-flex px-2 text-decoration-none" href="{{ settings.social_youtube_link }}">
      {% render 'icon-youtube' %}
    </a>
  </li>
{% endif %}