{% assign background = section.settings.body_text %}


<style>
  header.scrolled {
    background-color: {{ background}}
    ;
  }
  .header.scrolled > .navmenu-dropdown {
    background-color: {{ background}}
    ;
  }
</style>
<div class="header-wrapper">
  <div class="toggle">
    <span class="material-symbols-outlined header-menu">
      menu
    </span>
    <span class="material-symbols-outlined search-left search navbar-icon">
      search
    </span>
  </div>
  <div class="logo-header">
    {% if section.settings.title != blank %}
      <a href="https://store2968.myshopify.com" style="text-decoration:none;">
        <h2 class="store-title">{{ section.settings.title }}</h2>
      </a>
    {% endif %}
  </div>
  <div class="navbar">
    <ul>
      {% for link in section.settings.menu.links %}
        <li>{{ link.title | link_to: link.url }}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="buttons">
    <span class="material-symbols-outlined search-right search navbar-icon">
      search
    </span>
    <span class="break first-break">|</span>
    <span class="material-symbols-outlined person navbar-icon">
      person
    </span>
    <span class="break">|</span>
    <span class="material-symbols-outlined bag navbar-icon">
      shopping_bag
    </span>
  </div>
</div>
<div class="navmenu-dropdown">
  <ul>
    {% for link in section.settings.menu.links %}
      <li>{{ link.title | link_to: link.url }}</li>
    {% endfor %}
  </ul>
</div>
<!-- Search Function Pop-up Div -->
{% render 'header-search' %}
<!-- Login Function Pop-up Div -->
{% render 'header-login' %}


<!-- Cart Function Pop-up Div -->
{% render 'header-cart' %}

{{ 'header-script.js' | asset_url | script_tag }}


{% schema %}
  {
    "name": "header",
    "tag": "header",
    "class": "header",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }, {
        "type": "link_list",
        "id": "menu",
        "label": "Insert Menu"
      }, {
        "type": "color",
        "id": "body_text",
        "label": "Background Color",
        "default": "#000000"
      }
    ]
  }
{% endschema %}