{% assign background = section.settings.body_text %}


<style>
  .switch--darkmode {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 22px;
  }

  .switch--darkmode input {
    display: none;
  }

  .darkmode {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .darkmode:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .darkmode {
    background-color: #ccc;
  }
  input:checked + .darkmode:before {
    background-color: rgb(36, 36, 36);
  }


  input:checked + .darkmode:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .darkmode.darkmode--round {
    border-radius: 34px;
  }

  .darkmode.darkmode--round:before {
    border-radius: 50%;
  }
  .button--darkmode {
    display: flex;
    align-items: center;
    margin-right: 19px;
  }
  p.button__title {
    margin-bottom: 0;
    padding-right: 10px;
    font-family: 'Roboto';
    font-weight: 500;
    margin-top: 0;
    white-space: nowrap;
  }



  /* Navbar DropDown Style*/
  li.navbar-dropdown {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    text-shadow: none !important;
    color: var(--color1) !important;
    display: flex;
    margin-right: 15px !important;
    cursor: pointer;
    user-select: none;
  }
  .link--inside {
    position: absolute;
    top: 43px;
    left: 118px;
    padding: 5px;
    display: none;
    box-shadow: 0 6px 6px 0 #585858;
  }
  .link--inside > * {
    margin-top: 13px;
    margin-right: 0 !important;
    font-family: 'Roboto';
    font-weight: 500;
    padding: 6px;
  }
  .link--inside li:hover {
    background: #b3b3b3;
  }
  .link--inside li a {
    width: 100%;
    height: 100%;
    display: block;
  }
</style>


<div class="header-wrapper">
  <div class="toggle">
    <span class="material-symbols-outlined header-menu">
      menu
    </span>
    <span class="material-symbols-outlined search-left search navbar-icon">
      search
    </span>
  </div>
  <div class="header-wrapper--left">
    <div class="logo-header">
      {% if section.settings.title != blank %}
        <a href="https://store2968.myshopify.com" style="text-decoration:none;">
          <h2 class="store-title">{{ section.settings.title }}</h2>
        </a>
      {% endif %}
    </div>
    <div class="navbar">
      <ul>
        {% for link in section.settings.menu.links -%}
          {% if link.links.size > 0 -%}
            <li class="navbar-dropdown" onclick="toggleLinkInside(this)">
              {{ link.title }}
              <span class="material-symbols-outlined">
                expand_more
              </span>
            </li>
            <div class="link--inside">
              {% for child_link in link.links %}
                <li>{{ child_link.title | link_to: child_link.url }}</li>
              {% endfor %}
            </div>
          {%- else -%}
            <li>{{ link.title | link_to: link.url }}</li>
          {%- endif %}
        {%- endfor %}
      </ul>
    </div>
  </div>
  <div class="header-wrapper--right">
    <div class="buttons">
      <span class="material-symbols-outlined search-right search navbar-icon">
        search
      </span>


      <span class="break first-break">|</span>
      <span class="material-symbols-outlined person navbar-icon">
        person
      </span>
      <span class="break">|</span>
      <span class="material-symbols-outlined bag navbar-icon">
        shopping_bag
      </span>
    </div>
    <div class="button--darkmode desktop-view">
      <p class="button__title">Dark Mode</p>
      <label class="switch--darkmode">
        <input type="checkbox" class="darkMode-btn">
        <div class="darkmode darkmode--round"></div>
      </label>
    </div>
  </div>
</div>
<div class="navmenu-dropdown">
  <div class="button--darkmode mobile-view">
    <p class="button__title">Dark Mode</p>
    <label class="switch--darkmode">
      <input type="checkbox" class="darkMode-btn">
      <div class="darkmode darkmode--round"></div>
    </label>
  </div>
  <ul>
    {% for link in section.settings.menu.links -%}
      {% if link.links.size > 0 -%}
        <li class="navbar-dropdown toggle-dropdown" onclick="toggleLinkInside(this)">
          {{ link.title }}
          <span class="material-symbols-outlined">
            expand_more
          </span>
        </li>
        <div class="link--inside--toggle">
          {% for child_link in link.links %}
            <li>{{ child_link.title | link_to: child_link.url }}</li>
          {% endfor %}
        </div>
      {%- else -%}
        <li>{{ link.title | link_to: link.url }}</li>
      {%- endif %}
    {%- endfor %}
  </ul>
</div>



<!-- Search Function Pop-up Div -->
{% render 'header-search' %}
<!-- Login Function Pop-up Div -->
{% render 'header-login' %}
<!-- Cart Function Pop-up Div -->
{% render 'header-cart' %}

{{ 'header-script.js' | asset_url | script_tag }}

<script>
  const toggleLinkInside = (element) => {
    const linkInside = element.nextElementSibling;
    linkInside.style.display = (linkInside.style.display === 'block')
      ? 'none'
      : 'block';
  };
</script>


{% schema %}
  {
    "name": "header",
    "tag": "header",
    "class": "header",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }, {
        "type": "link_list",
        "id": "menu",
        "label": "Insert Menu"
      }, {
        "type": "color",
        "id": "body_text",
        "label": "Background Color",
        "default": "#000000"
      }
    ]
  }
{% endschema %}